# Demo CT series (docs/current/RENDERING_TECH_GAP_ANALYSIS_2026-08-20.md
# follow-up decision, 2026-08-21): a real, CC BY 3.0-licensed LIDC-IDRI
# patient CT series, tracked via Git LFS rather than as a plain blob so
# it doesn't permanently bloat every clone's .git history. Scoped to this
# one directory -- engine/tests/fixtures/CT_small.dcm (40KB) stays a
# normal blob, it's far too small to need LFS. See
# engine/tests/fixtures/lidc_idri/README.md for citation/attribution.
engine/tests/fixtures/lidc_idri/**/*.dcm filter=lfs diff=lfs merge=lfs -text
